/* Reset default margin and padding */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set default font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

/* Header and Navigation */
header {
  background-color: #333;
  padding: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #eaeaea;
}

/* Home Section */
#home {
  padding: 50px;
  text-align: center;
  background-color: #fff;
}

#home h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* About Section */
#about {
  padding: 50px;
  background-color: #f9f9f9;
}

#about h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

#about p {
  color: #666;
  line-height: 1.6;
}

/* Portfolio Section */
#portfolio {
  padding: 50px;
  background-color: #fff;
}

#portfolio h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

/* Blog Section */
#blog {
  padding: 50px;
  background-color: #f9f9f9;
}

#blog h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

/* Contact Section */
#contact {
  padding: 50px;
  text-align: center;
  background-color: #fff;
}

#contact h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  
  /* Header and Navigation */
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  
  /* Sections */
  section {
    padding: 30px;
  }
  
  /* Home Section */
  #home h1 {
    font-size: 28px;
  }
  
  /* About Section */
  #about h2 {
    font-size: 24px;
  }
  
  /* Portfolio Section */
  #portfolio h2 {
    font-size: 24px;
  }
  
  /* Blog Section */
  #blog h2 {
    font-size: 24px;
  }
  
  /* Contact Section */
  #contact h2 {
    font-size: 24px;
  }
}